@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    background-color: #FFC568;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 50rem;
    height: 20rem;
    position: relative;
}

.svg-container {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.mo-container {
    width: 100%;
    height: 100%;
}

.line {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.lttr {
    fill: #763C8C;
}

.name-text {
    color: #763C8C;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
